{% extends "general_base.html" %}
{% block content %}
    <div class="row">
        <div class="col-6">
            <h3>Patient Information</h3>
            <p>
                <strong>Name:</strong> {{ appointments.patient.get_full_name }}
            </p>
            <p>
                <strong>Age:</strong> {{ appointments.patient.age }}
            </p>
            <p>
                <strong>Gender:</strong> {{ appointments.patient.gender }}
            </p>
        </div>
        <div class="col-6">
            <h3>Physician Information</h3>
            <p>
                <strong>Physician Name:</strong> {{ appointments.physician.get_full_name }}
            </p>
        </div>
        <div class="appointment-info">
            <h3>Appointment Details</h3>
            <p>
                <strong>Appointment Time:</strong> {{ appointments.time }} {{ appointments.date }}
            </p>
        </div>
        <div class="text-end">
            <a href="{% url 'create_prescription' appointments.id %}"
               class="btn btn-primary">Create Prescription</a>
        </div>
    </div>
{% endblock content %}
