{% extends "general_base.html" %}
{% block content %}
    <div class="container-fluid">
        {% if not all_appointments %}
            <div class="alert alert-info text-center ms-3 me-3" role="alert">No Appointments Registered!</div>
        {% else %}
            <!-- appointments List Table -->
            <table class="table table-striped table-hover table-sm table-bordered">
                <thead>
                    <tr>
                        <th scope="col">Username</th>
                        <th scope="col">Full Name</th>
                        <th scope="col">Email</th>
                        <th scope="col">Phone</th>
                        <th scope="col">Address</th>
                        <th scope="col">View</th>
                    </tr>
                </thead>
                <tbody class="table-group-divider">
                    {% for appointments in all_appointments %}
                        <tr>
                            <td>{{ appointments.username }}</td>
                            <td>{{ appointments.get_full_name }}</td>
                            <td>{{ appointments.email }}</td>
                            <td>{{ appointments.phone_number }}</td>
                            <td>{{ appointments.address }}</td>
                            <td>
                                {% comment %} <a href="{% url 'operator_detail' appointments.pk %}"
                                   class="text-primary me-2">
                                    <i class="bi bi-eye"></i>
                                </a> {% endcomment %}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% endif %}
    </div>
{% endblock content %}
