{% extends "unauthenticated_base.html" %}
{% block title %}
    Sign up
{% endblock title %}
{% block content %}
<div class="container">
    <div class="row justify-content-center mt-5">
        <div class="col-md-6 col-lg-5">
            <div class="card shadow">
                <div class="card-header bg-primary text-white text-center py-3">
                    <h4 class="mb-0">Sign Up</h4>
                </div>
                <div class="card-body p-4">
                    <!-- Use Django's form -->
                    <form method="POST">
                        {% csrf_token %}
                        <div class="mb-3">
                            {{ form.username }}
                        </div>
                        <div class="mb-3">
                            {{ form.email }}
                        </div>
                        <div class="mb-3">
                            {{ form.phone_number }}
                        </div>
                        <div class="mb-3">
                            {{ form.password1.placeholder }}
                            {{ form.password1 }}
                        </div>
                        <div class="mb-3">
                            {{ form.password2 }}
                        </div>
                        <div class="d-grid">
                            <button type="submit" class="btn btn-primary btn-lg">CREATE ACCOUNT</button>
                        </div>
                    </form>
                </div>
                <div class="card-footer text-center py-3">
                    <a href="{% url 'login' %}" class="text-decoration-none">Have an account? Go to login</a>
                </div>
            </div>
        </div>
    </div>
</div>

    {% comment %} <h2>Signup</h2>
    <form method="post">
        {% csrf_token %}
        {{ form }}
        <button type="submit">Sign Up</button>
    </form> {% endcomment %}
{% endblock content %}
