{% extends "unauthenticated_base.html" %}
{% block title %}
    Sign up
{% endblock title %}
{% block content %}
<div class="container">
    <div class="row justify-content-center ">
        <div class="col-md-6 col-lg-5">
            <div class="card shadow">
                <div class="card-header bg-primary text-white text-center py-3">
                    <h4 class="mb-0">Sign Up</h4>
                </div>
                <div class="card-body p-3">
                    <!-- Use Django's form -->
                    <form method="POST">
                        {% csrf_token %}
                        <div class="form-floating mb-3">
                            <input type="text" name="username" class="form-control" id="floatingUsername" placeholder="Enter your username">
                            <label for="floatingUsername">Enter your username</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input type="email" name="email" class="form-control" id="floatingEmail" placeholder="Enter your email">
                            <label for="floatingEmail">Enter your email</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input type="text" name="phone_number" class="form-control" id="floatingPhone" placeholder="Enter your phone number">
                            <label for="floatingPhone">Enter your phone number</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input type="password" name="password1" class="form-control" id="floatingPassword1" placeholder="Enter your password">
                            <label for="floatingPassword1">Enter your password</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input type="password" name="password2" class="form-control" id="floatingPassword2" placeholder="Confirm your password">
                            <label for="floatingPassword2">Confirm your password</label>
                        </div>
                        <div class="d-grid">
                            <button type="submit" class="btn btn-primary btn-lg">CREATE ACCOUNT</button>
                        </div>
                    </form>
                </div>
                <div class="card-footer text-center py-3">
                    <a href="{% url 'login' %}" class="text-decoration-none">Have an account? Go to login</a>
                </div>
            </div>
            <div class="text-center">
                <small class="text-muted">Clinic Management System. All rights reserved.</small>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
