<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="doctor, clinic, appointment, healthcare, medical, online, patient, health">
    <meta name="description"
        content="A reliable online clinic management system for doctors. Easily manage appointments, patient records, and more.">
    <title>Access Denied</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c2yX/v1jhb2uTNooX4EDkQVz9jc+X1P/B8r4E1DggBSj9b2Ysvzg0iYXz0hRIhkPOpen+i0M"
        crossorigin="anonymous">
</head>

<body>
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-6 text-center">
                <h1 class="display-4">Access Denied</h1>
                <p class="lead">You do not have permission to access this page.</p>
                <a href="{% url 'user_redirect' %}" class="btn btn-primary">Go Back Home</a>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C89scichPD02hX1v7vFSK4jr0roBSIXHQLRHt9wuzKCG0D+pzpNeiyN8ZR0PX/6tmI"
        crossorigin="anonymous"></script>
</body>

</html>
