{% extends "general_base.html" %}
{% block content %}
    <div class="container mt-1">
        <div class="card shadow">
            <div class="card-header bg-primary text-white">
                <h4 class="mb-0">
                    {% if form.instance.pk %}
                        Update
                    {% else %}
                        New
                    {% endif %}
                </h4>
            </div>
            <div class="card-body">
                <form id="operatorForm" method="post">
                    {% csrf_token %}
                    {{ form.non_field_errors }}
                    {{ form.as_p }}
                    <div class="text-end">
                        <button type="button" class="btn btn-danger" id="clearButton">Clear</button>
                        <button type="submit" id="saveButton" class="btn btn-success">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock content %}
